<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Testing Suite">
	<listeners>
		<listener class-name="reusableComponents.ListenersImplementation" />
		<listener class-name="reusableComponents.TestRetryAnalyzerListener" />
	</listeners>
	<test name="Parallel Testing Suite" parallel="classes" thread-count="3">
		<classes>
			<class name="Tests.ValidUserLoginTests" />
			<class name="Tests.InvalidUserLoginTest"/>
		</classes>
	</test>
	<!--<test name="Invalid user login test">
		<classes>
			<class name="Tests.InvalidUserLoginTest"/>
		</classes>
	</test>-->
</suite> 